<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <style>
            .form-check-input.model-a {display: block; margin: auto;}
        </style>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <container>
            <div id="app">
                <h3>Model A</h3>
                <table class="table-sm">
                    <thead>
                        <tr>
                            <th>IE</th>
                            <template v-for="dicho in model_a_list">
                                <th scope="col">{{ dicho[0] }}</th>
                                <th scope="col">{{ dicho[1] }}</th>
                            </template>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="e in elements">
                            <tr>
                            <th scope="row">{{ e }}</td>
                                <template v-for="dicho in model_a_list">
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input model-a" type="radio" value=0 v-bind:name="dicho[0] + dicho[1] + e" v-on:click="check_model_a(e, dicho[0])">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input model-a" type="radio" value=0 v-bind:name="dicho[0] + dicho[1] + e">
                                        </div>
                                    </td>
                                </template>
                            </tr>
                        </template>
            </tbody>
        </table>
        
        <h3>Reinin Dichotomies</h3>
        <table class="table-sm">
            <thead>
            </thead>
            <tbody>
                <template v-for="dicho in reinin_list">
                    <tr>
                        <td>
                            {{ dicho[0] }}
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value=0 v-bind:name="dicho[0] + dicho[1]">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value=0 v-bind:name="dicho[0] + dicho[1]">
                            </div>
                        </td>
                        <td>
                            {{ dicho[1] }}
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        
        <h3>Score</h3>
            <div id="score">
                </div>
            </div>
        </container>
        <script src="index.js"></script>
    </body>
</html>